@import "../variables";

.answer-3 {
  h2 {
    white-space: nowrap;
  }
  
  .column {
    height: calc(100vh - 140px);
    overflow-x: hidden;
    overflow-y: auto;
  }

  .sidebar {
    a {
      &:not(:first-child) {
        margin-top: 5px;
      }
    }
  }

  @media screen and (max-width: 575px) {
    .card-body {
      padding: .5rem;
    }
  }

  @media screen and (min-width: 576px) {}

  @media screen and (min-width: 768px) {}

  @media screen and (min-width: 992px) {}

}