@import "variables";

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  display: flex;
  flex-direction: column;
  color: $grey-dark;
  margin: 0;
  height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
}

p {
  line-height: 1.3;
}

a {
  display: inline-block;
  text-decoration: none;

  &:hover {
    opacity: 0.85;
    text-decoration: none;
  }
}

img {
  max-width: 100%;
  height: auto;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;

  &:focus,
  &:active {
    outline: none;
  }
}



@media screen and (max-width: 575px) {
  h1 {
    font-size: 18px !important;
  }

  h2 {
    font-size: 16px !important;
  }

  h3 {
    font-size: 14px !important;
  }

  h4 {
    font-size: 13px !important;
  }

  h5 {
    font-size: 12px !important;
  }

  p {
    font-size: 12px;
  }
}