// Fixed colors
$grey-dark: #354052;
$grey-light: #c9cacc;
$grey: #bbb;
$blue: #349de3;
$blue-light: #74b1d4;
$dark-sky-blue: #4a90e2;
$green: #19cf5e;
$red: #df4040;
$yellow: #ffde00;
$purple: #620c5f;
$magenta: #944292;
$orchid: #bc8ebe;
$amethyst: #8562a7;

$disabled: #ddd;
