@import "variables";
@import "base";
@import "components";

header {
  background-color: $blue;
  padding: 1rem;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;

  .nav {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;

    div {
      margin-right: .5rem;

      a {
        color: #fff;
      }

      &.active {
        text-decoration: underline;
      }
    }
  }

  @media screen and (min-width: 576px) {
    header {
      font-size: 1.2rem;

      .nav {
        div {
          margin-right: 1rem;
        }
      }
    }
  }

  @media screen and (min-width: 768px) {}

  @media screen and (min-width: 992px) {}
}

.page {
  padding: .5rem;

  @media screen and (min-width: 768px) {
    padding: 1rem;
  }
}